.

.card {
    width: 800px;
    padding: 20px 30px;
    margin: 0 auto 30px;
    background-color: #fff;
    border-radius: 5px;
  }

.card {
    width: 800px;
    margin-bottom: 0;
  }
  
  .goblin-game {
    width: 150px;
    display: box;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .status {
    margin-bottom: 20px;
  }
  .goblin {
    width: 150px;
    height: 150px;
    margin: 0 15px 30px;
    background: grey;
    border-radius: 50%;
  }
  
  .goblin_has-goblin {
    background-image: url(../img/goblin.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(2, 0, 136);
  }